@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 2em;
  }
  .nav-link {
    font-size: 1.6em;
  }
  .afaFa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  .europa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  article img {
    width: 300px;
    height: 300px;
  }
  .tituloGuia {
    padding: 10px 30px;
    margin: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .afaFa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
  .europa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
  article {
    margin: 15px;
  }
  article img {
    width: 320px;
    height: 320px;
  }
  article:hover {
    transform: scale(1.1);
    transition: 2s;
  }
  .parrafosImp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .parrafos:hover {
    transform: scale(1.05);
    transition: 1.5s;
  }
}
.navbar-brand {
  font-size: 1.2em;
}

.nav-link {
  font-size: 0.8em;
}

.nav-redes {
  display: flex;
  flex-direction: row;
}
.nav-redes li {
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: grey;
}

h3 {
  color: white;
}

.agregar {
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bolder;
}

.imagenPrincipal1 {
  background-image: url(../img/argentina-campeon.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.imagenPrincipal1 .tituloImg1 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 70%;
  margin: auto;
  margin-top: 70vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.imagenPrincipal1 .tituloImg1 h2 {
  font-size: medium;
}

.imagenPrincipal2 {
  background-image: url(../img/messi-cristiano.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.imagenPrincipal2 .tituloImg2 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 70%;
  margin: auto;
  margin-top: 70vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.imagenPrincipal2 .tituloImg2 h2 {
  font-size: medium;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 10px;
}
article img {
  width: 230px;
  height: 250px;
}
article h2 {
  color: white;
}

.paginaContacto {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloContacto {
  font-weight: bolder;
  font-size: 2em;
}

.datosContacto {
  margin-bottom: 10px;
}

.botonEnviar {
  margin: 15px;
}

.enviar {
  padding: 5px 10px;
  border-radius: 5px;
}

.paginaGuia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.principalGuia {
  margin-bottom: 15px;
}

.tituloGuia {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  text-align: center;
}

.fotoGuia img {
  width: 100%;
}

.parrafos {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
