@media screen and (min-width: 768px) {
	.navbar-brand {
		font-size: 2em;
	}
	.nav-link {
		font-size: 1.6em;
	}
	.afaFa {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-around;
	}
	.europa {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-around;
	}
	article {
		img {
			width: 300px;
			height: 300px;
		}
	}
	.tituloGuia {
		padding: 10px 30px;
		margin: 20px;
	}
}
@media screen and (min-width:1200px) {
	.afaFa {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-around;
	}
	.europa {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-around;
	}
	article {
		img {
			width: 320px;
			height: 320px;
		}
		margin: 15px;
		&:hover {
			transform: scale(1.1);
			transition: 2s;
		}
	}
	.parrafosImp {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.parrafos {
		&:hover {
			transform: scale(1.05);
			transition: 1.5s;
		}
	}
}